html, body, div{
    height: 100%;
    background: #000;
}

div{
    height: 100%;
}

.item > img{
    max-height: 100%;
    margin-left:auto;
    margin-right:auto;
}

.carousel{
    height: 100%;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
    color: #fff;
}
.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    border-color: #000;
}
.carousel-indicators li.active{
    background-color: #000;
}